.input-section {
    width: 64%;
}

.header-text {
    font-weight: 600;
    font-size: 42px;
}

.btn-header {
    background: #049A37;
    border: 1px solid #049A37;
}


.line {
    height: 2px;
    opacity: 6;
    background: white;
}

.menu-active {
    display: flex;
}