.left {
    width: 64%;
}

.title-five {
    color: #333333;
}

.last {
    font-size: 14px; 
    font-weight: 500;
}

.final {
 color: #888888;
 font-size: 12px;
}

.btn-five {
    background: #049A37;

}