.title {
    color: #333333;
}

.title-text {
    font-size: 14px;
    color: #333333;
}

.title-light {
    font-size: 10px;
    color: #888888;
}

.title-last {
    font-size: 12px; 
    font-weight: 500;
}

.one {
    height: 580px;
}